.idea/
build/
dist/
reason.egg-info/
__pycache__/
reason/__pycache__/
reason/tokenize/__pycache__/
temp_test.py
.DS_Store
reason/.DS_Store
tests/__pycache__/
tests/.idea/
tests/.DS_Store
tests/tokenize_test/__pycache__/
tests/tokenize_test/.idea/
tests/tokenize_test/.DS_Store
docs/source/
docs/build
docs/Makefile
docs/make.bat
reason/tag/__pycache__
tests/tag_test/pos_tagger_accuracy_test.py
.coverage
